<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>xazina</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">xazina</a>
        </div>
        <div class="search">
            <form action="/search" method="POST">
                    <input type="text" name="text" placeholder="Search for products" onkeyup="keyUphandle">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="user-actions">
            <a href="/add-product" class="btn-add-product">Add a Product</a>
        <%if(locals.req_) {%>
            <% if(req_.isAuthenticated()){ %>
                <p>Welcome <%= req_.user.username %></p>
                <a href="/logout">Logout</a> 
            <%} else {%>
                <a href="/register">Register</a>
                <a href="/login">Login</a>
        <% } }%>
        </div>
    </header>

    <script>
        keyUphandle = (e) => {
            const button = document.querySelector(".search").querySelector('button');
            if(e.keyCode === 13){
                button.click();
            }
        }
    </script>